* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #121212;
  color: #ffffff;
}